.formulario {
    margin: 20px;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(0, 230, 249, 1) 100%);
}

.usuarios {
    margin: 20px;
    margin-top: 20px;
    color: black;
    font-family: 'Anton', sans-serif;
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kavoon', serif;
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(22, 255, 0, 1) 100%);
}
.padre-f{
    display: flex;
    justify-content: center;
    align-content: center;
}